<html>
<head>
  <meta charset="UTF-8">
  <title>d CMS: Edit</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <h2>
  Delilah CMS : Edit Work : <%= work.title %>
</h2>
  <% if (flash) { %>
    <div class='flash'>  <%= flash %> </div>
    <% } %>
    <% if (work.preview) { %>
    <img class='work-preview' src="<%= work.preview.slice(work.preview.lastIndexOf(':') + 5) %>">
    <% } %>
  <form>
    <input id='form-title' name="title" type="text" value="<%= work.title %>"></input>
    <input id='form-caption' name="caption" type="text" value="<%= work.caption %>"></input>
    <input id='form-medium'name="medium" type="text" value="<%= work.medium %>"></input>
    <input id='form-creationdate' name="creationDate" type="text" value="<%= work.creationDate %>"></input>
    <ul class='uri-list'>
    <% for (i = 0; i < work.uris.length; i++) { %>
      <li class='edit-uri'>
        <span class='hidden-id'><%= work.uris[i].id %></span>
      <input name="uriname" type="text" value="<%= work.uris[i].name %>"></input>
      <input name="urinotes" type="text" value="<%= work.uris[i].notes %>"></input>
      <%= work.uris[i].href %>
      <br><br>
      <div class='add-preview-btn btn-sm'>Set As preview</div>
      <div class='del-uri btn-sm'>Delete this uri</div>
      <br><br>
    <% } %>
    </ul>
    <a class='add-file' href="/add_file/<%= work._id %>">+ Upload New</a>
  </form>
  <div class='btn-container'>
  <button id='save-btn'>Save Changes</button>
  <a href='/del/<%= work._id %>' class='del-link'>Delete This Work</a>
  <a href='/main' class='cancel-link'>Cancel Edit</a>
</div>
  <script> console.log('Hooey');
    let uriObjsArray = <%- JSON.stringify(work.uris) %>
    let passedPreview = '';
    <% if (work.preview) { %>
      passedPreview = '<%= (work.preview) %>'
      <% } %>
    var _id = '<%= work._id %>';
  </script>
  <script type="text/javascript" src="/edit.js"> </script>
</body>
</html>
