<html>
<head>
  <meta charset="UTF-8">
  <title>delilah CMS Main</title>
</head>
<body>
  Delilah CMS : Main View
  <% if (flash) { %>
    <div class='flash'> <%= flash %> </div>
  <% } %>
  <div id='container'>
    <ul id ='work-list'>
      <h2>Catalog</h2>
      <% for(let i=0; i < works.length; i++) {
        const work = works[i]; %>
      <li class='work-container'>
        <span class="work-title">
          <%= work.title %>
        </span>
        <span class="work-caption">
          <%= work.caption %>
        </span>
        <span class="work-medium">
          <%= work.medium %>
        </span>
        <span class="work-creationdate">
          <%= work.creationDate %>
        </span>
        <ul class="uri-list">
        <% for (let j = 0; j < work.uris.length; j++ ) { %>
          <li class='uri-listitem'>
            <span class="uri-name">
              <%= work.uris[j].name %>
            </span>
            <span class="uri-notes">
              <%= work.uris[j].notes %>
            </span>
            <span class="uri-href">
              <%= work.uris[j].href %>
            </span>
          </li>
          <% } %>
        </ul>
      </li>
      <% } %>
  </ul>
  </div>
</body>
</html>
